
.chat-container{
    background: linear-gradient(
    260deg,
    rgb(141, 44, 44) 0%,
    rgb(99, 47, 71) 36%,
    rgb(59, 77, 102) 68%
  );
  display: inline-block;
  height: 100vh;
  width: 100vw;
  .chat-area{
    border: 2px solid yellow;
    overflow: auto;
    overflow-anchor: auto;
    height: max-content;
    flex-direction: column;
    height: 36rem;
    width: 70rem;
    display: flex;
    margin: auto;
    margin-top: 5rem;


  }
 
}