.avatar-container{
    
        background: linear-gradient(
        260deg,
        rgb(141, 44, 44) 0%,
        rgb(99, 47, 71) 36%,
        rgb(59, 77, 102) 68%
      );
      display: inline-block;
      height: 100vh;
      width: 100vw;
    img{
        transition: all 0.4s ease-out;
        cursor: pointer;
        &:hover{
            transform: scaleY(1.035);
            transform: scaleX(1.035);
        }
    }
}
