.other{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .user{
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }